.container {
  width: 320px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 8px;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}

.link {
  display: block;
  font-size: 14px;
  padding: 4px 0;
  font-weight: 300;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.link:hover {
  font-weight: 400;
}

.active {
  font-weight: 400;
}